*{
    background: linear-gradient(to top, #cc33ff 0%, #33ccff 100%);;
}

h1{
    color: dimgray;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

p{
    text-align: center;
    color: azure;
}